<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="knowledge.graph.visualization.domain.repo.MetaRepo">
    <select id="getMeta" resultType="knowledge.graph.visualization.domain.model.Meta">
        SELECT
            *
        FROM `meta` m
        WHERE dataset=#{dataset}
    </select>
</mapper>
