<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="knowledge.graph.visualization.domain.repo.PredictRepo">
    <select id="getPredicts" resultType="knowledge.graph.visualization.domain.model.Predict">
        SELECT
            *
        FROM `predict` p
        WHERE dataset=#{dataset}
    </select>

    <update id="operatePredicts">
        UPDATE predict SET
            keep = #{keep}
        WHERE id = #{id}
    </update>
</mapper>
